/*-- scss:rules --*/
@font-face {
    font-family: 'mono';
    font-weight: 100;
    font-style: normal;
    src: url("fonts/fr.woff2") format('woff2');
  }

@font-face {
    font-family: 'mono';
    font-weight: 100;
    font-style: italic;
    src: url("fonts/fi.woff2") format('woff2');
  }

@font-face {
    font-family: 'mono';
    font-weight: 700;
    font-style: bold;
    src: url("fonts/fb.woff2") format('woff2');
  }



/*-- scss:defaults --*/
$web-font-path: "No";
$font-family-sans-serif: "mono";
$font-family-monospace: "mono";
$link-color: blue;
$link-hover-color: red;
$font-color: black;

/*-- scss:rules --*/
h1 {
    color: $font-color;
}

