.callout-important{
    background-color: rgb(255, 241, 241);
    border: 3px solid rgb(255, 141, 141);
}

.callout-tip{
    background-color: rgb(241, 255, 241);
    border: 3px solid rgb(156, 255, 141);
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify !important
  }

.cleanbox {
    margin: 1em 0;
    padding: 1em;
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 5px 5px 0px grey;
  }

  .line {
    border-bottom: 2px solid black;
    padding-bottom: 1em;
  }